

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    height: 400px;
    margin-top: -200px;
    margin-left: -200px;
    border-radius: 2px;
        box-shadow: 4px 8px 16px 0 rgba(0,0,0,0.1);
        overflow: hidden;
    background: #E56262;
    color: #333;
        font-family: 'Open Sans', Helvetica, sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
}
  

.bola1 {
    position: absolute;
    width: 100px;
    height: 100px;
    background: white;
    border-radius: 50px;
    right: 150px;
    bottom: 150px;
    animation: bola1 2s  alternate infinite;
}

.bola2 {
    position: absolute;
    width: 60px;
    height: 60px;
    background: white;
    border-radius: 50px;
    right: 170px;
    bottom: 170px;
    animation: bola2 2s  alternate infinite;
}

.bola3 {
    position: absolute;
    width: 30px;
    height: 30px;
    background: white;
    border-radius: 50px;
    right: 185px;
    bottom: 185px;
    animation: bola3 2s alternate infinite;
}

@keyframes bola1 {
    0%, 10% {
        transform: scale(0); box-shadow: 2px 2px 3px 2px rgba(0,0,0,0.2);
    }



    100% {
        transform: scale(1); box-shadow: 10px 10px 15px rgba(0,0,0,0.3) ;
    }

}


@keyframes bola2 {
    0%, 40% {
        transform: scale(0); box-shadow: 2px 2px 3px 2px rgba(0,0,0,0.2);
    }


    100% {
        transform: scale(1); box-shadow: 10px 10px 15px rgba(0,0,0,0.3);
    }
}


@keyframes bola3 {
    0%, 70% {
        transform: scale(0); box-shadow: 2px 2px 3px 2px rgba(0,0,0,0.2);
    }

    100% {
        transform: scale(1); box-shadow: 10px 10px 15px rgba(0,0,0,0.3);
    }
}