@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300);

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    height: 400px;
    margin-top: -200px;
    margin-left: -200px;
    border-radius: 2px;
      box-shadow: 4px 8px 16px 0 rgba(0,0,0,0.1);
      overflow: hidden;
    background: #264057;
    color: #333;
      font-family: 'Open Sans', Helvetica, sans-serif;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
  }
  
.BB {
    background: #5F98CD;
    height: 60px;
    width: 280px;
    position: absolute;
    bottom: 290px;
    left: 57px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.fundo-branco {
    background: #fff;
    width: 280px;
    height: 240px;
    position: absolute;
    bottom: 50px;
    left: 57px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.notificacao {
    color: #fff;
    font-weight: 600;
    position: absolute;
    font-size: 14px;
    bottom: 8px;
    left: 90px;
}

.lupa {
    position: absolute;
    bottom: 26px;
    left: 240px;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    border-width: 3px;
    border-style: solid;
    border-color: #B2DAFF #B2DAFF #B2DAFF #B2DAFF;
    cursor: pointer;
    transition: .2s ease-in-out;
}

.rabo-da-lupa {
    width: 9px;
    height: 3.5px;
    border-radius: 10px;
    background: #B2DAFF;
    bottom: 24px;
    left: 250px;
    position: absolute;
    transform: rotate(45deg);
    cursor: pointer;
    transition: .2s ease-in-out;
}

.icon:hover .lupa{
    border-color: #fff #fff #fff #fff;
}

.icon:hover .rabo-da-lupa {
    background: #fff;
}

.menu {
    width: 29px;
    height: 14px;
    position: absolute;
    bottom: 24px;
    left: 20px;
    background: #5F98CD;
    cursor: pointer;
}

.barra {
    position: absolute;
    border-radius: 10px;
    height: 2.4px;
    width: 20px;
    background: #B2DAFF;
    bottom: 11px;
    left: 0px;
    transition: .2s ease-in-out;
}

.bola {
    height: 7px;
    width: 7px;
    bottom: 9px;
    left: 22px;
    border-radius: 10px;
    position: absolute;
    background: #B2DAFF;
    transition: .2s ease-in-out;
}

.barra2 {
    position: absolute;
    border-radius: 10px;
    height: 2.4px;
    width: 30px;
    background: #B2DAFF;
    bottom: 0px;
    left: 0px;
    transition: .2s ease-in-out;
}

.menu:hover .barra{
    background: #fff;
}

.menu:hover .bola{
    background: #fff;
}

.menu:hover .barra2{
    background: #fff;
}

.linha1 {
    background: #EBEBEB;
    height: 3px;
    width: 24px;
    position: absolute;
    bottom: 226px;
    left: 18px;
    transform: rotate(90deg);
}

.bola1 {
    position: absolute;
    bottom: 201px;
    left: 24.6px;
    height: 7px;
    width: 7px;
    border-radius: 50%;
    border-width: 2px;
    border-style: solid;
    border-color: #5F98CD #5F98CD #5F98CD #5F98CD;
    cursor: pointer;
}

.linha2 {
    background: #EBEBEB;
    height: 3px;
    width: 60px;
    position: absolute;
    bottom: 167px;
    left: 0px;
    transform: rotate(90deg);
}

.bola2 {
    position: absolute;
    bottom: 125px;
    left: 24.6px;
    height: 7px;
    width: 7px;
    border-radius: 50%;
    border-width: 2px;
    border-style: solid;
    border-color: #5F98CD #5F98CD #5F98CD #5F98CD;
    cursor: pointer;
}

.linha3 {
    background: #EBEBEB;
    height: 3px;
    width: 60px;
    position: absolute;
    bottom: 91px;
    left: 0px;
    transform: rotate(90deg);
}

.bola3 {
    position: absolute;
    bottom: 49px;
    left: 24.6px;
    height: 7px;
    width: 7px;
    border-radius: 50%;
    border-width: 2px;
    border-style: solid;
    border-color: #5F98CD #5F98CD #5F98CD #5F98CD;
    cursor: pointer;
}

.linha4 {
    background: #EBEBEB;
    height: 3px;
    width: 45px;
    position: absolute;
    bottom: 22px;
    left: 7px;
    transform: rotate(90deg);
}

.hora {
    position: absolute;
    bottom: -5px;
    left: 15px;
    font-size: 12px;
    display: inline;   
    color: #666666;
    font-weight: 500;
    float: left;
    white-space: nowrap;
}

.texto {
    font-size: 13px;
    position: absolute;
    display: inline-block;
    white-space: nowrap;
}