@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300);

.container{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    height: 400px;
    margin-top: -200px;
    margin-left: -200px;
    border-radius: 2px;
      box-shadow: 4px 8px 16px 0 rgba(0,0,0,0.1);
      overflow: hidden;
    background: #42A7A1;
    color: #333;
      font-family: 'Open Sans', Helvetica, sans-serif;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
}

.topo {
  bottom: 240px;
  width: 280px;
  height: 60px;
  background: #F1BA64;
  position: absolute;
  right: 65px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.corpo {
  width: 280px;
  background: white;
  height: 160px;
  position: absolute;
  bottom: 80px;
  right: 65px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

.text {
  color: white;
  font-weight: 600;
  font-size: 14px;
  right: 150px;
  position: absolute;
}

.date {
  color: white;
  font-size: 11px;
  font-weight: 600;
  position: absolute;
  bottom: 0px;
  right: 183px;
}

.text2 {
  color: white;
  font-weight: 520;
  font-size: 12px;
  position: absolute;
  right: 16px;
}

.money {
  color: white;
  position: absolute;
  font-weight: 600;
  right: 16px;
  bottom: -5px;
}

.linha-red {
  background: rgb(228, 127, 127);
  height: 4px;
  width: 15px;
  border-radius: 10px;
  position: absolute;
  right: 120px;
  bottom: 130px;
}

.views {
  font-size: 10px;
  font-weight: 500;
  position: absolute;
  right: 90px;
  bottom: 117px;
  line-height: 13px;
  color: #606060;
}