@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300);

.container{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    height: 400px;
    margin-top: -200px;
    margin-left: -200px;
    border-radius: 2px;
      box-shadow: 4px 8px 16px 0 rgba(0,0,0,0.1);
      overflow: hidden;
    background: #42A7A1;
    color: #333;
      font-family: 'Open Sans', Helvetica, sans-serif;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
}

.topo {
  bottom: 240px;
  width: 280px;
  height: 60px;
  background: #F1BA64;
  position: absolute;
  right: 65px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.corpo {
  width: 280px;
  background: white;
  height: 160px;
  position: absolute;
  bottom: 80px;
  right: 65px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  display: block;
}

.text {
  color: white;
  font-weight: 600;
  font-size: 14px;
  right: 150px;
  position: absolute;
}

.date {
  color: white;
  font-size: 11px;
  font-weight: 510;
  position: absolute;
  bottom: 0px;
  right: 183px;
}

.text2 {
  color: white;
  font-weight: 520;
  font-size: 12px;
  position: absolute;
  right: 16px;
}

.money {
  color: white;
  position: absolute;
  font-weight: 600;
  right: 16px;
  bottom: -5px;
}

.linha-red {
  background: rgb(228, 127, 127);
  height: 3px;
  width: 13px;
  border-radius: 10px;
  position: absolute;
  right: 120px;
  bottom: 140px;
}

.views {
  font-size: 10px;
  font-weight: 510;
  position: absolute;
  right: 85px;
  bottom: 127px;
  line-height: 13px;
  color: #606060;
}

.linha-blue {
  background: #7BA2FF;
  height: 3px;
  width: 13px;
  border-radius: 10px;
  position: absolute;
  bottom: 140px;
  right: 60px;
}

.compras {
  font-size: 10px;
  font-weight: 510;
  position: absolute;
  line-height: 13px;
  color: #606060;
  bottom: 127px;
  right: 10px;
}

.linha1 {
  height: 1px;
  width: 240px;
  background: #F2F2F2;
  position: absolute;
  bottom: 30px;
  right: 20px;
}

.linha2 {
  height: 1px;
  width: 240px;
  background: #F2F2F2;
  position: absolute;
  bottom: 70px;
  right: 20px;
}

.linha3 {
  height: 1px;
  width: 240px;
  background: #F2F2F2;
  position: absolute;
  bottom: 110px;
  right: 20px;
}

.bola-azul, .bola-azul1, .bola-azul2, .bola-azul3, .bola-azul4, .bola-azul5, .bola-azul6 {
  width: 6px;
  height: 6px;
  border-radius: 10px;
  background: #7BA2FF;
  position: absolute;
  cursor: pointer;
  z-index: 1;
}

.reta-azul, .reta-azul1, .reta-azul2, .reta-azul3, .reta-azul4, .reta-azul5{
  height: 2px;
  width: 40px;
  border-radius: 50px;
  background: #7BA2FF;
  position: absolute;
}

.reta-azul {
  bottom: 56px;
  left: 20px;
  width: 37px;
  transform: rotate(-16deg);
}

.reta-azul1  {
  bottom: 52px;
  left: 56px;
  width: 47px;
  transform: rotate(26deg);
}

.reta-azul2 {
  bottom: 50px;
  left: 100px;
  transform: rotate(-23deg);
}

.reta-azul3 {
  bottom: 52px;
  left: 140px;
  width: 46px;
  transform: rotate(12deg);
}

.reta-azul4 {
  bottom: 42px;
  left: 180px;
  transform: rotate(18deg);
}

.reta-azul5 {
  bottom: 42px;
  left: 220px;
  transform: rotate(-22deg);
}

.bola-azul {
  bottom: 50px;
  left: 20px;
}

.bola-azul1 {
  bottom: 60px;
  left: 55px;
}

.bola-azul2 {
  bottom: 40px;
  left: 97px;
}

.bola-azul3 {
  bottom: 55px;
  left: 135px;
}

.bola-azul4 {
  bottom: 45px;
  left: 180px;
}

.bola-azul5 {
  bottom: 33px;
  left: 218px;
}

.bola-azul6 {
  bottom: 48px;
  left: 255px;
}

.mon, .tue, .wed, .thu, .fri, .sat, .sun {
  color: #606060;
  font-size: 9px;
  position: absolute;
  font-weight: 530;
  bottom: 0px;
}

.mon {
  right: 245px;
}

.tue {
  right: 210px;
}

.wed {
  right: 170px;
}

.thu {
  right: 130px;
}

.fri {
  right: 90px;
}

.sat {
  right: 50px;
}

.sun {
  right: 10px;
}

.bola-vermelha, .bola-vermelha1, .bola-vermelha2, .bola-vermelha3, .bola-vermelha4, .bola-vermelha5, .bola-vermelha6 {
  width: 6px;
  height: 6px;
  border-radius: 10px;
  background: rgb(228, 127, 127);
  position: absolute;
  cursor: pointer;
}

.bola-vermelha {
  bottom: 65px;
  left: 20px;
}

.bola-vermelha1 {
  bottom: 100px;
  left: 55px;
}

.bola-vermelha2 {
  bottom: 90px;
  left: 97px;
}

.bola-vermelha3 {
  bottom: 103px;
  left: 135px;
}

.bola-vermelha4 {
  bottom: 70px;
  left: 180px;
}

.bola-vermelha5 {
  bottom: 58px;
  left: 218px;
}

.bola-vermelha6 {
  bottom: 90px;
  left: 255px;
}

.reta-vermelha, .reta-vermelha1, .reta-vermelha2, .reta-vermelha3, .reta-vermelha4, .reta-vermelha5{
  height: 2px;
  width: 30px;
  border-radius: 50px;
  background: rgb(228, 127, 127);
  position: absolute;
}

.reta-vermelha {
  left: 16px; 
  bottom: 85px;
  width: 50px;
  transform: rotate(-46deg);
}

.reta-vermelha1 {
  left: 58px;
  bottom: 98px;
  width: 41px;
  transform: rotate(14deg);
}

.reta-vermelha2 {
  left: 100px;
  bottom: 99px;
  width: 40px;
  transform: rotate(-20deg);
}

.reta-vermelha3 {
  left: 132px;
  width: 55px;
  bottom: 89px;
  transform: rotate(37deg);
}

.reta-vermelha4 {
  left: 180px;
  width: 40px;
  bottom: 66px;
  transform: rotate(18deg);
}

.reta-vermelha5 {
  left: 213px;
  bottom: 75px;
  width: 50px;
  transform: rotate(-41deg);
}

.vi, .vi1, .vi2, .vi3, .vi4, .vi5, .vi6 {
  position: absolute;
  bottom: 6px;
  left: 4px;
}

.span-azul1 {
  background: #7BA2FF;
  color: white;
  font-weight: 520;
  height: 25px;
  width: 20px;
  position: absolute;
  bottom: 0px;
  border-radius: 3px;
  left: -7px;
  font-size: 10px;
  text-align: center;
  display: block;
  opacity: 0;
  transition: .5s;
  visibility: hidden;
  z-index: 1;
}

.span-azul1::before {
  content: "";
  position: absolute;
  bottom: -2px;
  border: 5px solid;
  left: 5px;
  border-color: #7BA2FF #7BA2FF #7BA2FF #7BA2FF ;
  transform: rotate(45deg);
}

.bola-azul:hover .span-azul1{
  opacity: 1;
  visibility: visible;
  transform: translateY(-12px);
}

.span-azul2 {
  background: #7BA2FF;
  color: white;
  font-weight: 520;
  height: 25px;
  width: 20px;
  position: absolute;
  bottom: 0px;
  border-radius: 3px;
  left: -7px;
  font-size: 10px;
  text-align: center;
  display: block;
  opacity: 0;
  transition: .5s;
  visibility: hidden;
  z-index: 1;
}

.span-azul2::before {
  content: "";
  position: absolute;
  bottom: -2px;
  border: 5px solid;
  left: 5px;
  border-color: #7BA2FF #7BA2FF #7BA2FF #7BA2FF ;
  transform: rotate(45deg);
}

.bola-azul1:hover .span-azul2{
  opacity: 1;
  visibility: visible;
  transform: translateY(-12px);
}

.span-azul3 {
  background: #7BA2FF;
  color: white;
  font-weight: 520;
  height: 25px;
  width: 20px;
  position: absolute;
  bottom: 0px;
  border-radius: 3px;
  left: -7px;
  font-size: 10px;
  text-align: center;
  display: block;
  opacity: 0;
  transition: .5s;
  visibility: hidden;
  z-index: 1;
}

.span-azul3::before {
  content: "";
  position: absolute;
  bottom: -2px;
  border: 5px solid;
  left: 5px;
  border-color: #7BA2FF #7BA2FF #7BA2FF #7BA2FF ;
  transform: rotate(45deg);
}

.bola-azul2:hover .span-azul3{
  opacity: 1;
  visibility: visible;
  transform: translateY(-12px);
}
.span-azul4 {
  background: #7BA2FF;
  color: white;
  font-weight: 520;
  height: 25px;
  width: 20px;
  position: absolute;
  bottom: 0px;
  border-radius: 3px;
  left: -7px;
  font-size: 10px;
  text-align: center;
  display: block;
  opacity: 0;
  transition: .5s;
  visibility: hidden;
  z-index: 1;
}

.span-azul4::before {
  content: "";
  position: absolute;
  bottom: -2px;
  border: 5px solid;
  left: 5px;
  border-color: #7BA2FF #7BA2FF #7BA2FF #7BA2FF ;
  transform: rotate(45deg);
}

.bola-azul3:hover .span-azul4{
  opacity: 1;
  visibility: visible;
  transform: translateY(-12px);
}

.span-azul5 {
  background: #7BA2FF;
  color: white;
  font-weight: 520;
  height: 25px;
  width: 20px;
  position: absolute;
  bottom: 0px;
  border-radius: 3px;
  left: -7px;
  font-size: 10px;
  text-align: center;
  display: block;
  opacity: 0;
  transition: .5s;
  visibility: hidden;
  z-index: 1;
}

.span-azul5::before {
  content: "";
  position: absolute;
  bottom: -2px;
  border: 5px solid;
  left: 5px;
  border-color: #7BA2FF #7BA2FF #7BA2FF #7BA2FF ;
  transform: rotate(45deg);
}

.bola-azul4:hover .span-azul5{
  opacity: 1;
  visibility: visible;
  transform: translateY(-12px);
}

.span-azul6 {
  background: #7BA2FF;
  color: white;
  font-weight: 520;
  height: 25px;
  width: 20px;
  position: absolute;
  bottom: 0px;
  border-radius: 3px;
  left: -7px;
  font-size: 10px;
  text-align: center;
  display: block;
  opacity: 0;
  transition: .5s;
  visibility: hidden;
  z-index: 1;
}

.span-azul6::before {
  content: "";
  position: absolute;
  bottom: -2px;
  border: 5px solid;
  left: 5px;
  border-color: #7BA2FF #7BA2FF #7BA2FF #7BA2FF ;
  transform: rotate(45deg);
}

.bola-azul5:hover .span-azul6{
  opacity: 1;
  visibility: visible;
  transform: translateY(-12px);
}

.span-azul7 {
  background: #7BA2FF;
  color: white;
  font-weight: 520;
  height: 25px;
  width: 20px;
  position: absolute;
  bottom: 0px;
  border-radius: 3px;
  left: -7px;
  font-size: 10px;
  text-align: center;
  display: block;
  opacity: 0;
  transition: .5s;
  visibility: hidden;
  z-index: 1;
}

.span-azul7::before {
  content: "";
  position: absolute;
  bottom: -2px;
  border: 5px solid;
  left: 5px;
  border-color: #7BA2FF #7BA2FF #7BA2FF #7BA2FF ;
  transform: rotate(45deg);
}

.bola-azul6:hover .span-azul7{
  opacity: 1;
  visibility: visible;
  transform: translateY(-12px);
}

