.container{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    height: 400px;
    margin-top: -200px;
    margin-left: -200px;
    border-radius: 2px;
      box-shadow: 4px 8px 16px 0 rgba(0,0,0,0.1);
      overflow: hidden;
    background: #42A7A1;
    color: #333;
      font-family: 'Open Sans', Helvetica, sans-serif;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
}


.topo {
  bottom: 240px;
  width: 280px;
  height: 60px;
  background: #F1BA64;
  position: absolute;
  right: 65px;
}

.corpo {
  width: 280px;
  background: white;
  height: 170px;
  position: absolute;
  bottom: 70px;
  right: 65px;
}

.text {
  color: white;
  font-weight: 600;
  font-size: 14px;
}